<html>
	<head>
		<link rel="stylesheet" href="/css/about.css">
		 <script src="https://code.jquery.com/jquery-3.2.1.min.js"
					  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
					  crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/about.js"></script>
	</head>
	<body>
		<div id='description'>
			<h1>This is the page describes the developer</h1>

			<div class='information'>
				<p>Name : Sin Wai Kit</p>
				<p>Age : 23 </p>
				<p>Graduated From : Monash University Australia </p>
				<p>Education : Bachelor of Mechanical Engineering</p>
				<p>Please download attached <a href='/img/Sin-Wai-Kit-_-Resume.docx' download>Resume</a> for more information</p>
			</div>
		</div>


		<div id = 'hyped'>
			<div class ='supreme'> 
				<a href="https://www.supremenewyork.com"><img src='/img/navbar.jpg' class='supreme_pic'></a>
			</div>

			<div class = 'palace'>
				<a href="https://www.palaceskateboards.com/"><img src='/img/palace.jpg' class='palace_pic'></a>
			</div>

			<div class = 'bape'>
				<a href="https://bape.com/"><img src='/img/bape.jpeg' class='bape_pic'></a>
			</div>

			<div class = 'thrasher'>
				<a href="https://www.thrashermagazine.com/"><img src='/img/thrasher.jpeg' class='thrasher_pic'></a>
			</div>


		</div>
	</body>
</html>